<div class="jumbotron">
    <div id="banner">
        <div class="container">
            <header class="display-5 banner-header rounded shadow">Welcome to theMOTHERBOARD blog!
                <br><br>
                <h4 class="subheader">Whether on purpose or you stumbled your way here from the farthest reaches of the
                    galaxy, you have found your way to theMOTHERBOARD. This is a community of inquisitive individuals
                    curious to the ways of machines and technology. <br><br>
                    To enter the community, head to the login at the top
                    right of the page and submit your credentials. If this is your first time, you will have to sign up
                    via the login.</h4>
            </header>
        </div>
    </div>
</div>