{{#if posts.id}}

<div class="container post-container mt-5 rounded shadow-sm">
    <div class="row">
        <h2 class="post-title">{{posts.title}}</h2>
    </div>
    <div class="row">
        <p class="post-body">{{posts.body}}</p>
    </div>
</div>


{{/if}}